@use "mixins/media" as *;

.input, .textarea, .select {
  --border-color: 55 58 54 / 0.2;
  // border-color: rgb(var(--border-color));
  --input-padding-block: 12px;
  --input-padding-inline: 9px;
}

:is(.input, .textarea, .select)::placeholder {
  color: rgb(var(--input-text-color, var(--text-color)) / .4);
}

.form-control > label {
  font-weight: bold;
}

.select ~ svg, .select > svg {
  inset-block-start: 50%;
  transform: translateY(-50%);
}