@use "mixins/media" as *;

.header-sidebar {
  --drawer-max-width: 390px;
  --header-linklist-padding-block: 24px;

  @include xs {
    --drawer-max-width: 100%;
  }

  @include md {
    display: none !important;
  }

  &::part(base) {
    height: auto;
    top: calc(var(--header-height) + var(--announcement-bar-height));
  }

  &::part(overlay) {
    // background: none;
    display: none;
  }

  &::part(header) {
    display: none;
  }
}

.header-sidebar__scroller {
  padding-block-end: 14px;
}

.header-sidebar__collections-slider {
  padding-block-start: 20px;

  &.floating-controls-container--inside {
    --floating-controls-inset-inline: 0;
  }

  &.floating-controls-container--on-hover > .floating-controls-container__control {
    transform: translateY(-50%);
  }

  .collection-list {
    --collection-list-item-size: 93px;
    --collection-list-gap: 10px;
  }

  .collection-card {
    gap: 5px;
  }

  .content-over-media {
    aspect-ratio: 1;
    border-radius: 6px;
    // min-height: 0;
  }

  .collection-card__content {
    --text-h3: 12px;
    --heading-font-weight: 500;
    text-align: center;
  }

  .circle-button {
    --circle-button-size: 30px;

    > svg {
      width: 9px;
    }
  }

  .floating-controls-container__control {
    inset-block-start: 50% !important;
  }

  // .slider__item {
  //   // display: flex;
  //   // flex-direction: column;
  //   // flex-wrap: nowrap;
  //   // justify-content: flex-start;
  //   // align-content: stretch;
  //   // align-items: stretch;
  //   // gap: 10px;
  //   // position: relative;
  // }

  // .collection-card {
  //   position: relative;
  // }

  // .slider__media-wrapper {
  //   aspect-ratio: 1;
  //   overflow: hidden;
  // }

  // .slider__heading {
  //

  //   a {
  //     &:before {
  //       content: "";
  //       height: 100%;
  //       left: 0;
  //       position: absolute;
  //       top: 0;
  //       width: 100%;
  //     }
  //   }
  // }
}

.header-sidebar__linklist {
  border-block-end-width: 1px;
  padding-block-start: 20px;
  padding-block-end: 10px;
}

.header-sidebar__linklist-button {
  --text-h6: 16px;
  --heading-font-weight: 500;
  --heading-text-transform: uppercase;
  color: #232222;
}

.header-sidebar__linklist--additional {
  --header-linklist-padding-block: 18px;
  padding-block-start: 22px;
  padding-block-end: 23px;

  .header-sidebar__linklist-button {
    --text-h6: 16px;
    --heading-font-weight: 500;
    --heading-text-transform: capitalize;
    color: rgb(var(--text-color) / 0.9);
  }
}

.header-sidebar__footer {
  --drawer-footer-padding-inline: 20px;
  display: grid;
  gap: 4px;

  > * {
    color: rgb(var(--text-color) / 0.7);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding-block: 5px;
    text-transform: capitalize;
  }

  .icon__wrapper {
    aspect-ratio: 1;
    display: grid;
    align-items: center;
    width: 24px;
  }

  .text-with-icon {
    gap: 5px;

    .icon {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
}

.header-sidebar__collapsible-panel {
  .header-sidebar__scroller {
    padding-block-start: 39px;
  }

  .header-sidebar__sub-panel-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1em;
    padding-inline-start: 5px;

    .button {
      font-size: 12px;
      min-height: 35px;
      padding-block: 5px;
      padding-inline: 10px;
      white-space: nowrap;
    }
  }

  .header-sidebar__back-button {
    --text-h6: 16px;
    --heading-font-weight: 500;
    --heading-text-transform: uppercase;
    border-block-end-width: 0;
    color: rgb(var(--text-color) / 1);
    gap: 14px;
    margin-block-end: 0;
    padding-block: 10px;
    width: auto;
  }

  .header-sidebar__linklist {
    --header-linklist-padding-block: 20px;
    padding-block-start: 2px;
    padding-block-end: 11px;
  }

  .header-sidebar__linklist-button {
    --heading-text-transform: capitalize;
    color: rgb(var(--text-color) / 0.9);
  }
}

.header-sidebar__promo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .mega-menu__promo-item {
    aspect-ratio: 1;
  }

  .mega-menu__promo-item-media-wrapper {
    border-radius: 10px;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
