@use "mixins/media" as *;

.header__menu-disclosure {
  &::before {
    background: rgb(var(--page-overlay));
    content: "";
    height: 100vh;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: var(--header-height);
    transition: ease-in-out opacity 0.3s;
    width: 100%;
    z-index: 1;
  }
  &[aria-expanded="true"] {
    &::before {
      opacity: 1;
    }
  }
}

.mega-menu {
  border-block-end-width: 0;
  overflow: visible;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block: 40px;
  z-index: 10;

  .menu-item__featured-image {
    aspect-ratio: 1;
    border-radius: 10px;
    overflow: hidden;

    img,
    svg {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .link-faded {
    text-transform: capitalize;
  }
}

.mega-menu__wrapper {
  display: grid;
  grid-template-columns: 1fr 504px;
  grid-template-rows: 1fr;
  max-width: var(--container-max-width);
  padding-inline-start: var(--container-gutter);
  padding-inline-end: var(--container-gutter);
  gap: 20px;
  // position: relative;
  // z-index: 5;
}

.mega-menu__linklist {
  --mega-menu-linklist-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  > li {
    > .h6 {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .link,
  .link-faded {
    color: rgb(var(--text-color) / 0.7);

    &:hover {
      color: rgb(var(--text-color) / 1);
    }
  }

  ul {
    padding: 11px 0 0;
  }
}

.mega-menu__promo {
  .mega-menu__promo-item {
    &:only-child {
      max-width: none;
    }
  }

  .mega-menu__promo-item-media-wrapper {
    aspect-ratio: 1.06553911205074;
    border-radius: 10px;
  }

  .mega-menu__promo-item-content-wrapper {
    --text-h6: 25px;
    --heading-text-transform: capitalize;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: stretch;
    color: rgb(var(--background));
    height: 100%;
    left: 0;
    position: absolute;
    padding: 16px 26px;
    top: 0;
    width: 100%;
    z-index: 10;

    .h6 {
      > em,
      > strong {
        display: block;
      }
    }
  }
}
