@use "mixins/media" as *;

:where(.modal, .drawer, .popover, .header-search) {
  z-index: 100000000;
}

size-chart-button {
  cursor: pointer;
}

.modal::part(content) {
  border-radius: 10px;
}

.modal--size-chart::part(header) {
  --heading-text-transform: capitalize;
}

.modal--size-chart {
  .shopify-section--guide {
    .container {
      --container-gutter: 1rem;
    }
  }

  .shopify-section--guide {
    .section-header {
      display: none;
    }
  }

  .shopify-section--size-calculator {
    .section-spacing {
      --section-vertical-spacing: 0;
    }

    .color-scheme {
      background: none;
      color: inherit;
    }

    .form-control:has(.select)::before {
      background: none;
    }

    .select,
    .input {
      background: rgb(var(--background));
    }

    .fieldset-row {
      &[data-result] {
        grid-template-columns: 1fr;
      }
    }
  }
}

#sort-by-popover.popover {
  --popover-body-padding-inline: 17px;
  width: calc(100% + 2px);

  &::part(content) {
    @include md {
      width: 100%;
    }
  }
}
