@use "mixins/media" as *;

#PBarNextFrameWrapper {
  visibility: hidden !important;
}

.product-sticky-bar--visible {
  #privy-container #privy-inner-container .privy-tab-container.privy-bottom.privy-floating.privy-bottom,
  .shop-ai-chat-container {
    transform: translateY(calc(var(--product-sticky-bar-height) * -1));
  }
}

.popover:has(.popover__value-list)::part(body) {
  padding-inline-end: var(--popover-body-padding-inline);
}

.popover__value-list > :has(:checked) {
  font-weight: 600;
}

.product-sticky-bar {
  background: rgb(var(--background));
  border-block-start-width: 1px;
  display: grid;
  gap: 0.5rem;

  @include sm-max {
    --container-gutter: 10px;
  }

  @include sm {
    border-block-end-width: 0;
    bottom: 0;
    inset-block-start: initial;
    grid-template-columns: minmax(0, 1fr) max-content max-content;
  }

  .product-sticky-bar__info {
    @include sm-max {
      padding-inline-end: 1.5rem;
    }

    img {
      display: none;

      @include md {
        display: inline;
      }
    }

    .price-list {
      --text-h6: calc(0.85rem * var(--text-heading-size-factor));
      margin: 0.5rem 0 0;
    }
  }

  .variant-picker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    @include sm {
      grid-template-columns: 1fr;
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  .variant-picker__option {
    gap: 0.5rem;

    &:only-of-type {
      grid-column: span 2;
    }

    &.v-stack {
      align-content: stretch;

      .select {
        height: 100%;

        @include sm-max {
          --input-padding-inline: 5px;
        }
      }
    }

    legend,
    .variant-picker__selected-variant {
      font-weight: var(--heading-font-weight);
    }
  }

  .variant-picker__option-info {
    display: none;
  }

  .variant-picker__option-values {
    label,
    img {
      border-radius: 100%;
    }
  }

  [data-bar-close] {
    border: 0;
    border-radius: 100%;
    min-height: 0;
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: auto;

    &:not([disabled]):hover {
      background: none;
      color: rgb(var(--button-background, var(--text-color)));
    }
  }

  .select {
    --input-padding-block: 0;
    min-height: 46px;

    > span {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      gap: 0.5rem;
    }

    &[aria-expanded="true"] > svg {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .buy-buttons .button {
    min-height: 46px;
  }
}
