@use "mixins/media" as *;

.product-sticky-bar {
  background: rgb(var(--background));
  display: grid;
  gap: 1rem;

  @include sm {
    grid-template-columns: minmax(0, 1fr) max-content max-content;
  }

  .product-sticky-bar__info {
    .price-list {
      --text-h6: calc(0.85rem * var(--text-heading-size-factor));
      margin: 0.5rem 0 0;
    }
  }

  .variant-picker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include sm {
      grid-template-columns: 1fr;
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .variant-picker__option {
    gap: 0.5rem;

    &.v-stack {
      align-content: stretch;

      .select {
        height: 100%;
      }
    }

    legend,
    .variant-picker__selected-variant {
      font-weight: var(--heading-font-weight);
    }
  }

  .variant-picker__option-info {
    display: none;
  }

  .variant-picker__option-values {
    label,
    img {
      border-radius: 100%;
    }
  }

  [data-bar-close] {
    border: 0;
    border-radius: 100%;
    min-height: 0;
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: auto;

    &:not([disabled]):hover {
      background: none;
      color: rgb(var(--button-background, var(--text-color)));
    }
  }
}
