@media(max-width: 768px){
    .hero-single{
        border-radius: 10px !important;
    }
}
@media (min-width: 768px){   
.hero-content.banner-content-center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.hero-content.banner-content-center .main-description-banner p{
    text-align: center;
}
}
.hero-single{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 580px;
    display: grid;
    height: 100%;
    border-radius: 30px;
}
.main-title-banner{
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 17px;
}
.main-description-banner p{
    line-height: 38px;
}
.main-description-banner p em{
    font-weight: 400;
    font-family: "Playfair Display", serif;
}
.main-description-banner{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    max-width: 559px;
    padding: 0 0 28px;
    margin: 0 auto;
}
.main-button-banner{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    min-height: 40px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0 auto;
    min-width: 350px;
    background: #FFFFFF;
    color: #807371;
    margin-bottom: 20px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px 18px;
}
.swiper-pagination.custom-progress {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    bottom: 18px;
}
.swiper-pagination.custom-progress .swiper-pagination-bullet {
  flex: 1;
  height: 8px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.3s ease;
  max-width: 62px;
  height: 3px;
}
.swiper-pagination.custom-progress .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.banner-hero-collections .hero-single{
    height: 100%;
    min-height: 400px;
    background-position: right top;
    border-radius: 10px;
}
@media (min-width: 768px){
    .swiper-slide[data-swiper-slide-index="1"] .main-description-banner{
        max-width: 623px;
    }
    .swiper-slide[data-swiper-slide-index="1"] .hero-single{
        background-position: center;
    }
    .swiper-pagination.custom-progress{
        bottom: 20px;
    }
    .hero-single{
        min-height: 593px;
        background-size: cover;
        background-position: right;
    }
    .main-button-banner{
        background: #807371;
        color: white;
        min-width: 311px;
        margin: 0;
        border: 1px solid #807371;
        transition: all 0.3s ease; 
    }
    .main-button-banner:hover{
        background: none !important;
        color: #807371 !important;
        border-color: #807371 !important;
    }
    .main-description-banner p{
        line-height: 57px;
    }
    .main-description-banner{
        font-weight: 200;
        font-size: 59px;
        padding: 0 0 18px;
        text-align: start;
        margin: 0;
    }
    .main-title-banner{
        text-align: start;
        font-size: 20px;
        line-height: 25px;
    }
    .hero-content{
        padding: 0 0 60px 30px;
    }
    .hero-banner .swiper-slide[aria-label="2 / 3"] .hero-single{
        background-position: center;
    }
    .banner-hero-collections .hero-single{
        border-radius: 30px;
    }
}
@media (min-width: 1024px){
    .hero-content{
        padding: 0 0 59px 80px;
    }
}
@media (min-width: 1440px){
    .main-description-banner{
        max-width: 695px;
    }
}
@media(max-width: 1000px){
    .hero-single.hero-margin{
        margin-top: 40px;
    }
}
@media(max-width: 767px){
    .hero-single.hero-margin{
        margin-top: 35px;
    }
}