.template-product .main-title-accordion-product {
  font-family: "Kumbh Sans", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
}
.template-product .accordion-main-content-product strong {
  font-weight: 600;
}
.template-product .accordion-main-content-product p {
  padding-bottom: 20px;
}
.template-product .accordion-main-content-product {
  padding-top: 9px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}
.template-product .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 476px;
  margin: 0 auto;
}
.template-product .main-close-accordion {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
.template-product .accordion-block.open .accordion-content {
  max-height: -moz-fit-content;
  max-height: fit-content;
  border-radius: 0 0 4px 4px;
  border-bottom: 1px solid rgba(55, 58, 54, 0.2);
}
.template-product .accordion-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 4px 4px;
  border-bottom: 1px solid rgba(55, 58, 54, 0.2);
  padding-bottom: 11px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 476px;
  margin: 0 auto;
  margin-top: 19px;
}
.template-product .product-info__block-item .accordion-block .accordion-content {
  padding: 0 20px;
}
.template-product .product-info__block-item .accordion-main-content-product {
  padding: 20px 0;
}
.template-product .product-info__block-item .accordion-block .accordion-content,
.template-product .product-info__block-item .accordion-main-content-product,
.template-product .product-info__block-item .accordion-header {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .template-product .product-info__block-item .accordion-block .accordion-content,
  .template-product .product-info__block-item .accordion-main-content-product,
  .template-product .product-info__block-item .accordion-header {
    max-width: 561px;
    width: 100%;
  }
}
.template-product .accordion-icon {
  transition: transform 0.3s ease;
}
.template-product .product-variants.main-product {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.template-product .product-sizes .size-btn {
  width: 46px;
  height: 46px;
  border: 1px solid rgba(55, 58, 54, 0.1019607843);
  border-radius: 50%;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: capitalize;
}
.template-product .product-sizes .size-btn.active {
  border-color: #232222;
  background: #232222;
  color: #ffffff;
}
.template-product .main-title-ring .selected-size {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  color: rgba(55, 57, 54, 0.8);
}
.template-product .main-title-ring {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: capitalize;
}
.template-product .product-variants .variant-item.active {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(55, 58, 54, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template-product .main-container-size-products {
  display: grid;
  gap: 16px;
  padding-top: 5px;
}
.template-product .product-sizes {
  display: flex;
  gap: 12.75px;
  padding-bottom: 9px;
}
.template-product .product-info__block-item buy-buttons {
  margin-top: 29px;
}
.template-product .main-container-color-products {
  display: grid;
  gap: 16px;
  border-bottom: 1px solid rgba(55, 58, 54, 0.2);
  padding-bottom: 11px;
}
.template-product .main-title-color .selected-color {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(55, 57, 54, 0.8);
  letter-spacing: 0;
}
.template-product .main-title-color {
  padding-top: 15px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
  color: #373a36;
  text-transform: capitalize;
}
.template-product .product-variants.main-product img {
  border-radius: 50%;
  cursor: pointer;
  width: 46px;
  height: 46px;
}
.template-product .product-info__block-list {
  position: relative;
  bottom: 8px;
}
.template-product .product-info__block-list price-list {
  padding-top: 3px;
}
.template-product .product-info__block-list price-list,
.template-product .product-info__block-list .product-title,
.template-product .container-review-product {
  padding-left: 9px;
}
.template-product .container-review-product .star {
  font-size: 21px;
}
.template-product .container-review-product .star.full {
  color: #deae4a;
}
.template-product .product-info__block-item sale-price {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #373a36;
}
.template-product .product-title {
  color: #373a36;
  text-transform: capitalize;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
}
.template-product .product-info__block-list > :not(:last-child),
.template-product .product-info__block-list > :not(:nth-child(1 of :not(:empty))) {
  padding-bottom: 0;
  margin: 0;
}
.template-product .container-review-product .reviews_text {
  color: rgba(55, 58, 54, 0.8);
  padding: 0 5px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
}
.template-product .container-review-product .number-reviews {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  color: rgba(55, 57, 54, 0.4);
}
.template-product .main-product-main-size.container--lg {
  max-width: 1280px;
  margin: 0 auto;
}
.template-product .main-header-product-content {
  display: none;
}
.template-product .accordion-block.accordion-block-mobile {
  display: none;
}
@media (max-width: 1200px) {
  .template-product .main-container-product-slider {
    grid-template-columns: 100% !important;
  }
  .template-product .main-container-product-slider .main-swiper {
    order: 1;
  }
  .template-product .main-container-product-slider .thumb-swiper {
    position: relative;
    width: 100% !important;
    height: auto !important;
  }
  .template-product .main-swiper-container-product {
    order: 2;
    position: relative;
    height: auto !important;
    width: 100% !important;
  }
}
@media (max-width: 1024px) {
  .template-product .product-info__block-list price-list,
  .template-product .container-review-product,
  .template-product .product-info__block-list .product-title {
    display: none;
  }
  .template-product .main-title-product {
    margin-top: -14px;
  }
  .template-product .main-header-product-content .container-review-product {
    display: flex;
  }
  .template-product .main-header-product-content sale-price {
    color: #373a36;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    text-transform: capitalize;
  }
  .template-product .mobile-product-main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .template-product .main-header-product-content {
    max-width: 448px;
    display: block;
  }
  .template-product .main-container-product-slider {
    margin-top: 30px;
  }
}
@media (max-width: 1000px) {
  .template-product .main-title-product {
    margin-top: 14px;
  }
}
@media (max-width: 999px) {
  .template-product .main-title-product {
    margin-top: 60px;
  }
}
@media (max-width: 768px) {
  .template-product .product-info__block-item .accordion-block {
    max-width: 350px;
    margin: 0 auto;
  }
  .template-product .accordion-block-mobile .accordion-main-content-product {
    padding-top: 20px;
  }
  .template-product .guaranteed-section {
    min-width: 360px;
    max-width: 360px;
    gap: 15px !important;
  }
  .template-product .guaranteed-item .main-title {
    font-size: 11px !important;
  }
  .template-product .main-container-product-slider {
    margin-top: 0px;
  }
  .template-product .accordion-block.accordion-block-desktop {
    display: none;
  }
  .template-product .main-title-product {
    margin-top: 57px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0;
    text-transform: capitalize;
    line-height: 20px;
  }
  .template-product .main-title-color {
    padding-top: 4px;
  }
  .template-product .main-header-product-content .container-review-product {
    padding: 0;
  }
  .template-product .mobile-product-main-top {
    padding-top: 7px;
  }
  .template-product .container-review-product .star {
    font-size: 16px;
  }
  .template-product .main-header-product-content sale-price {
    font-size: 14px;
  }
  .template-product .container-review-product .number-reviews {
    font-size: 12px;
    padding-left: 4px;
  }
  .template-product .main-header-product-content {
    padding: 0 20px;
  }
  .template-product .product-variants.main-product {
    gap: 14px;
  }
  .template-product .main-container-color-products {
    width: 350px;
    margin: 0 auto;
    gap: 13px;
  }
  .template-product .main-container-size-products {
    width: 350px;
    margin: 0 auto;
    padding-top: 19px;
    gap: 9px;
  }
  .template-product .product-sizes {
    gap: 8px;
    flex-wrap: wrap;
  }
  .template-product .product-sizes .size-btn {
    width: 55px;
    height: 55px;
  }
  .template-product .accordion-block.accordion-block-mobile,
  .template-product .product-info__block-item buy-buttons {
    width: 350px;
    margin: 0 auto;
  }
  .template-product .accordion-block.accordion-block-mobile {
    display: block;
  }
}
.template-product .bundle-block {
  width: 100%;
  background: #f7f1ef;
  border-radius: 10px;
  gap: 10px;
}
.template-product .main-bundle-title {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: capitalize;
}
.template-product .main-bundle-title span {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: capitalize;
}
.template-product .main-bundle-subtitle {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: capitalize;
}
.template-product .main-bundle-img {
  width: 75px;
  height: 75px;
}
.template-product .bundle-block {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}
.template-product .main-bundle-button {
  background: #ffffff;
  display: block;
  border: 1px solid #c5c1c0;
  padding: 10px 12px;
  border-radius: 4px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0;
  min-width: 111px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.template-product .main-bundle-button:hover {
  background: none;
}
.template-product .bottom-bundle-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  align-items: center;
}
@media (max-width: 768px) {
  .template-product .bundle-block {
    width: 350px;
    margin: 0 auto;
    padding: 10px 10px 15px 10px;
    margin-top: 17px;
    margin-bottom: 43.5px;
  }
  .template-product .bottom-bundle-block {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .template-product .main-bundle-img {
    width: 85px;
    height: 85px;
  }
  .template-product .main-bundle-button {
    min-width: 101px;
    padding: 3px 1px;
  }
  .template-product .guaranteed-section {
    padding: 15px 40px;
    box-sizing: content-box;
  }
}
.template-product .guaranteed-item {
  max-width: 190px;
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-rows: 1fr 1fr;
}
.template-product .guaranteed-item .icon {
  margin: 0 auto;
}
.template-product .guaranteed-section {
  display: flex;
  margin: 15px 0;
  flex-wrap: nowrap;
  gap: 25px;
  justify-content: space-around;
  align-items: end;
  margin-bottom: 0;
}
.template-product .guaranteed-item .description {
  color: rgba(55, 57, 54, 0.6980392157);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}
.template-product .cbb-frequently-bought-selector-label-regular-price,
.template-product .cbb-frequently-bought-selector-label-name,
.template-product .cbb-frequently-bought-total-price-sale-price,
.template-product .cbb-frequently-bought-total-price-was-price,
.template-product .cbb-frequently-bought-total-price-text.translatable,
.template-product .cbb-frequently-bought-discount-message.translatable,
.template-product .cbb-frequently-bought-title.translatable {
  font-family: "Kumbh Sans", sans-serif;
}
.template-product .guaranteed-item .main-title em,
.template-product .guaranteed-item .main-title {
  font-style: normal;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
.template-product .cbb-frequently-bought-selector-list input[type=checkbox] {
  accent-color: black;
}
.template-product .cbb-frequently-bought-add-button:hover span,
.template-product .cbb-frequently-bought-add-button:hover {
  background: none !important;
  color: #373a36 !important;
}
.template-product .cbb-frequently-bought-add-button:hover {
  border-color: #c5c1c0 !important;
}
.template-product .cbb-frequently-bought-add-button {
  border: 1px solid !important;
  border-radius: 4px;
  background: black !important;
  transition: all 0.3s ease;
}
.template-product .cbb-frequently-bought-add-button span {
  transition: all 0.3s ease;
  color: white !important;
}
@media (max-width: 768px) {
  .template-product .guaranteed-item .main-title em {
    display: none;
  }
  .template-product .guaranteed-item {
    max-width: 141px;
    display: grid;
    gap: 8px;
    align-items: center;
    grid-template-rows: 1fr;
    height: 100%;
    margin: 0 auto;
  }
  .template-product .guaranteed-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px !important;
    box-sizing: border-box;
  }
}