.product-gallery {
  --product-gallery-gap: 10px;
  --product-gallery-thumbnail-size: 52px;
  --product-gallery-thumbnail-list-gap: 8px;
}
@media screen and (min-width: 1000px) {
  .product-gallery {
    --product-gap: 20px;
    --product-gallery-gap: 20px;
    --product-gallery-thumbnail-size: 88px;
    --product-gallery-thumbnail-list-gap: 20px;
  }
}

.product-gallery__carousel-with-arrows {
  position: relative;
}
@media screen and (max-width: 999px) {
  .product-gallery__carousel-with-arrows {
    display: block;
  }
}
.product-gallery__carousel-with-arrows carousel-prev-button,
.product-gallery__carousel-with-arrows carousel-next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.product-gallery__carousel-with-arrows carousel-prev-button button,
.product-gallery__carousel-with-arrows carousel-next-button button {
  aspect-ratio: 1;
  background: rgb(var(--background-without-opacity)/0.6);
  border-radius: 100%;
  color: rgb(var(--text-color)/0.4);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 32px;
}
.product-gallery__carousel-with-arrows carousel-prev-button button:hover,
.product-gallery__carousel-with-arrows carousel-next-button button:hover {
  background: rgb(var(--background-without-opacity)/1);
}
.product-gallery__carousel-with-arrows carousel-prev-button {
  left: 0;
}
.product-gallery__carousel-with-arrows carousel-next-button {
  right: 0;
}
@media screen and (max-width: 999px) {
  .product-gallery__carousel-with-arrows .product-gallery__media {
    width: auto;
  }
}

.product-gallery__carousel {
  border-radius: 10px;
}

@media screen and (min-width: 1000px) {
  .product-gallery__thumbnail-scroller {
    --product-gallery-thumbnail-list-max-height: calc(
      (var(--product-gallery-thumbnail-size) + var(--product-gallery-thumbnail-list-gap)) * 6 - var(--product-gallery-thumbnail-list-gap)
    );
  }
}

.product-gallery__thumbnail {
  border-radius: 8px;
  border-width: 2px;
  aspect-ratio: 1;
  overflow: hidden;
  padding: 0;
}