.horizontal-product-card .product-title {
  font-family: inherit;
}
.horizontal-product-card .price-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.horizontal-product-card .price-list * {
  font: inherit;
}
.horizontal-product-card .price-list sale-price {
  color: rgb(var(--text-color)/1);
}
.horizontal-product-card .price-list compare-at-price {
  color: rgb(var(--text-color)/0.2);
}