.horizontal-product-card .horizontal-product-card__figure {
  width: 130px;
}
.horizontal-product-card .product-title {
  --text-h6: 16px;
  --heading-font-weight: 500;
  font-family: inherit;
}
.horizontal-product-card .price-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
}
.horizontal-product-card .price-list * {
  font: inherit;
}
.horizontal-product-card .price-list sale-price {
  color: rgb(var(--text-color)/1);
}
.horizontal-product-card .price-list compare-at-price {
  color: rgb(var(--text-color)/0.2);
}
.horizontal-product-card .product-card__button {
  color: rgb(var(--text-color)/0.6);
  text-transform: capitalize;
}