.shopify-section--scrolling-content .scrolling-content {
  line-height: 1;
}
.shopify-section--scrolling-content .scrolling-content__text-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 6px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--scrolling-content .scrolling-content__text-wrapper {
    gap: 3px;
  }
}
.shopify-section--scrolling-content .scrolling-content__icon-wrapper {
  width: 24px;
}
.shopify-section--scrolling-content .scrolling-content__icon-wrapper > * {
  height: auto;
  max-width: 100%;
}
.shopify-section--scrolling-content .scrolling-content__text {
  font-weight: 500;
  text-transform: uppercase;
}