.reviews-highlight-section {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
}

.reviews-highlight-section__container {
  max-width: var(--section-max-width);
  margin: 0 auto;
  padding: 0 20px;
}

.reviews-highlight-section__headline {
  color: #373a36;
  font-size: 34px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 300;
}

.reviews-highlight-section__headline em {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -2%;
}

.reviews-highlight-section__customer-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  opacity: 1;
}

.reviews-highlight-section__customer-image {
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border: 2px solid #b2abaa;
  position: relative;
}

.reviews-highlight-section__customer-image::before {
  content: none; /* remove overlay effect */
}

.reviews-highlight-section__customer-image:not(:first-child) {
  margin-left: -12px;
}

.reviews-highlight-section__customer-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-highlight-section__review {
  margin-bottom: 30px;
}

.reviews-highlight-section__review-row {
  display: flex;
  justify-content: center;
  gap: 11px;
}

.reviews-highlight-section__quote-icon {
  color: #232222;
  margin-left: 8px;
  display: flex;
  flex-shrink: 0;
}

.reviews-highlight-section__review-text {
  color: #373936;
  font-size: 14px;
  line-height: 1.21;
  max-width: 286px;
  margin: 0;
  position: relative;
  padding: 0;
  text-align: center;
}

.reviews-highlight-section__review-text::before {
  display: none; /* Remove the line above text in row layout */
}

.reviews-highlight-section__button {
  opacity: 1;
}

.reviews-highlight-section__button .button {
  min-width: 196px;
  height: 37px;
  padding: 0 11px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .reviews-highlight-section {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .reviews-highlight-section__headline {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .reviews-highlight-section__customer-images {
    margin-bottom: 20px;
  }
  .reviews-highlight-section__customer-image {
    width: 44px;
    height: 44px;
  }
  .reviews-highlight-section__customer-image:not(:first-child) {
    margin-left: -15px;
  }
  .reviews-highlight-section__headline em {
    font-size: 47px;
  }
  .reviews-highlight-section__review {
    margin-bottom: 40px;
  }
  .reviews-highlight-section__review-text {
    font-size: 16px;
    max-width: 400px;
  }
  .reviews-highlight-section__review-row {
    justify-content: center;
    gap: 10px;
  }
}