#web-pixels-manager-sandbox-container:has(:overflow) {
  border: 2px solid red !important;
}

.header-sidebar::part(content) {
  min-width: auto;
  max-width: 500px;
}

.header-sidebar__linklist li button {
  height: 24px;
}

.shop-all_main {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0;
  text-transform: uppercase;
  background: black;
  color: white;
  min-width: 80px;
  min-height: 35px;
  border-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.header-sidebar__linklist.divide-y-mobile {
  border-bottom: 1px solid rgba(55, 57, 54, 0.2);
}

.header-sidebar__linklist.divide-y-mobile {
  padding: 0 20px;
  padding-bottom: 13px;
}

.header-sidebar__scroller.header-sidebar__scroller-mob-main {
  width: 100vw;
  padding-bottom: 126px;
  padding-left: 0;
  padding-right: 0;
}

.main-header-menu-mob .header_main_menu-mob .v-stack {
  width: 100%;
  display: flex;
}

.mega-menu__linklist.unstyled-list {
  display: none;
}

.main-header-menu-mob .header_main_menu-mob .v-stack p {
  font-family: "Kumbh Sans", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
}

.main-header-menu-mob .header_main_menu-mob img {
  width: 174px;
  height: 174px;
}

.main-header-menu-mob .header_main_menu-mob {
  gap: 6px;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}

.main-header-menu-mob {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
  gap: 10px;
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
}

.main-header-menu-mob .promo-menu-main-header {
  display: none;
}

.header-sidebar__linklist-button.header-mob-main-menu {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 16px;
  text-transform: math-auto;
}

.divide-y.divide-y-mobile > :not([hidden]) ~ :not([hidden]) {
  padding: 2px 0;
}

.main_container-button {
  display: flex;
  align-items: center;
  padding: 0 20px;
  padding-top: 40px;
  padding-left: 26px;
  padding-bottom: 3px;
}

.header-sidebar__back-button.main_button_link-sidebar span {
  text-decoration: underline;
}

.header-sidebar__back-button.main_button_link-sidebar {
  border: none;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  padding-bottom: 0px;
  padding-top: 0;
}

.main-conatiner-mob {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 30px;
}

.track-order-btn-mob {
  color: rgba(55, 57, 54, 0.6980392157);
  display: block;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  padding-top: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-sidebar__linklist.divide-y-main {
  padding: 30px 0px 21px 20px;
  border-top: 1px solid rgba(55, 57, 54, 0.2);
  border-bottom: 1px solid rgba(55, 57, 54, 0.2);
  margin-bottom: 0;
}

.header-sidebar__footer:before {
  display: none;
}

.divide-y.divide-y-main > :not([hidden]) ~ :not([hidden]) {
  padding: 4px 0;
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  padding: 6px 0;
}

.header-sidebar__linklist-button {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0;
  height: 20px;
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  border: none;
}

.icon-arrow {
  transition: transform 0.3s ease;
  display: inline-block;
}

.container-mobile-header .mobile-localization,
.container-mobile-header .header__primary-nav {
  display: inline-block !important;
}

.logo_center_navigation_below.header {
  background: white;
  height: 53.26px;
  padding-left: 21px;
  padding-top: 9px;
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(55, 57, 54, 0.2);
  border-top: 1px solid rgba(55, 57, 54, 0.2);
}

.logo_center_navigation_below .mobile-localization {
  z-index: 999;
  top: 2px !important;
  position: relative;
  left: 1px;
}

.logo_center_navigation_below .contents.unstyled-list .header__account-link,
.logo_center_navigation_below .mobile-localization {
  display: block;
}

details[open] summary .icon-arrow {
  transform: rotate(180deg);
}

.logo_center_navigation_below.header .header__primary-nav {
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.logo_center_navigation_below.header .header__primary-nav-item ul li:last-child a:hover,
.logo_center_navigation_below.header .header__primary-nav-item ul li:last-child a {
  border-bottom: 1px solid rgba(55, 57, 54, 0.6980392157) !important;
  width: -moz-fit-content;
  width: fit-content;
}

.logo_center_navigation_below.header .header__primary-nav-item a.overflow-hidden,
.logo_center_navigation_below.header .header__primary-nav-item a.overflow-hidden:hover {
  border-radius: 10px;
}

.logo_center_navigation_below.header .header__primary-nav-item a.overflow-hidden img.image-main-menu-mega {
  border-radius: 10px;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.logo_center_navigation_below.header .header__primary-nav-item a.overflow-hidden img.image-main-menu-mega:hover {
  transform: scale(1.05);
  border-radius: 10px;
}

.logo_center_navigation_below.header .header__primary-nav-item a,
.logo_center_navigation_below.header .header__primary-nav-item summary {
  font-family: "Kumbh Sans", sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  display: flex;
  color: rgba(55, 57, 54, 0.6980392157);
  align-items: center;
  gap: 10px;
}

.logo_center_navigation_below.header .header__primary-nav {
  justify-content: center;
}

.logo_center_navigation_below.header .header__logo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
}

.logo_center_navigation_below.header {
  gap: 0;
  row-gap: 12.5px;
}

.logo_center_navigation_below.header .header__secondary-nav {
  position: absolute;
  min-width: 271px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}

.header__primary-nav.header__primary-nav-main a,
.header__primary-nav.header__primary-nav-main summary {
  font-family: "Kumbh Sans", sans-serif;
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
}

.header__primary-nav.header__primary-nav-main,
.main-mega-menu-header .mega-menu__promo {
  gap: 20px;
}

.main-mega-menu-header .mega-menu__promo .v-stack p {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  text-transform: none;
}

.promo-menu-main-header ul {
  gap: 12px;
  display: grid;
}

.promo-menu-main-header ul li a {
  font-weight: 400;
  font-size: 14px;
  color: rgba(55, 57, 54, 0.6980392157);
  font-family: "Kumbh Sans", sans-serif;
}

@media (min-width: 769px) and (max-width: 1000px) {
  .logo_center_navigation_below.header .header__secondary-nav {
    bottom: 0;
  }
  x-header.logo_center_navigation_below.header {
    min-height: 70px !important;
  }
}
@media (min-width: 1000px) {
  x-header.logo_center_navigation_below.header {
    padding-top: 28px;
  }
}
.promo-menu-main-header ul li {
  list-style-type: none;
  padding: 0;
  line-height: 19px;
  text-align: left;
}

.main-header-menu-mob .v-stack:nth-child(5) {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}

.main-mega-menu-header .mega-menu__promo .v-stack:nth-child(5) {
  flex: 200px;
  min-width: 269px;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}

.main-mega-menu-header .mega-menu__promo .v-stack:nth-child(5) .text-center a em {
  display: contents;
  font-family: "Playfair Display", serif;
}

.main-header-menu-mob .v-stack:nth-child(5) .text-center a,
.main-mega-menu-header .mega-menu__promo .v-stack:nth-child(5) .text-center a {
  text-align: left;
  font-weight: 300;
  font-size: 19px;
  font-family: "Kumbh Sans", sans-serif;
  text-transform: none;
  color: white;
  line-height: 19px;
}

.main-header-menu-mob .v-stack:nth-child(5) .text-center {
  max-width: 69px;
  left: 8px;
  bottom: 5px;
  position: absolute;
}

.main-mega-menu-header .mega-menu__promo .v-stack:nth-child(5) .text-center a {
  position: absolute;
  left: 16px;
  bottom: 26px;
  max-width: 91px;
  font-size: 25px;
  border: none;
}

.main-mega-menu-header .mega-menu__promo .v-stack {
  flex: 147px;
  max-width: 144px;
  min-width: 144px;
  gap: 10px;
}

.header__primary-nav-item a,
.logo_center_navigation_below.header .header__primary-nav-item a.main-title-link .logo_center_navigation_below.header .header__primary-nav-item a.main-title-link:active,
.logo_center_navigation_below.header .header__primary-nav-item a.main-title-link:hover {
  border: none !important;
}

.logo_center_navigation_below.header .header__primary-nav-item a.main-title-link {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #232222;
}

.header_search-desk {
  display: none;
}

.header_search-laptop {
  display: block;
}

.header-search .container {
  height: 100vh;
}

.predictive-search__content {
  right: 0px !important;
  top: 93px !important;
  display: contents;
}

img.header__logo-image {
  width: 86px;
  z-index: 9999;
  position: relative;
  top: -1px;
  left: -5px;
}

.logo_center_navigation_below.header .country-flag {
  width: 24px !important;
  height: 18px !important;
}

.container-mobile-header {
  padding-top: 5px;
  display: flex;
  gap: 10px;
  height: auto;
}

.logo_center_navigation_below.header .header__secondary-nav {
  position: absolute;
  min-width: 291px;
  -moz-column-gap: 8px !important;
       column-gap: 8px !important;
  align-items: center;
  top: 3px !important;
  margin-right: 7px !important;
}

@media (min-width: 768px) {
  .logo_center_navigation_below .mobile-localization {
    top: 0px !important;
  }
  .logo_center_navigation_below.header .country-flag {
    width: 32px !important;
    height: 24px !important;
  }
  .logo_center_navigation_below.header {
    height: auto;
  }
  img.header__logo-image {
    width: 167px;
    transition: height 0.1s ease;
  }
  .header__logo-image.logo--compact {
    width: 95px !important;
  }
}
@media (min-width: 1000px) {
  .logo_center_navigation_below.header .header__secondary-nav {
    position: absolute;
    min-width: 291px;
    -moz-column-gap: 10px !important;
         column-gap: 10px !important;
    align-items: center;
    top: -3px !important;
    margin-right: 22px !important;
  }
  .logo_center_navigation_below.header .header__primary-nav {
    width: 100vw;
  }
  .container-mobile-header .mobile-localization,
  .container-mobile-header .header__primary-nav {
    display: flex !important;
  }
  .logo_center_navigation_below .mobile-localization {
    display: none !important;
  }
}
@media (min-width: 1290px) {
  predictive-search__content {
    position: absolute;
    right: -70px !important;
    display: flex;
    top: 10px !important;
    background: white;
    width: 100vw;
  }
  .header_search-laptop {
    display: none;
  }
  .header_search-desk {
    display: block;
  }
  .container.main-container-search-header .header-search__form-control {
    border-bottom: 1px solid;
    padding-bottom: 0;
    padding: 0;
    margin-right: 10px;
  }
  .predictive-search__no-results,
  .container.main-container-search-header .predictive-search__results {
    height: 100vh;
    border-top: 1px solid;
    padding: 20px 30px;
  }
  .container.main-container-search-header {
    margin: 0;
  }
  .container.main-container-search-header .header-search__form-control svg {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .container.main-container-search-header .header-search__form-control,
  .container.main-container-search-header input {
    max-width: 147px;
    position: relative;
  }
  .container.main-container-search-header input {
    max-width: 107px;
    display: inline-flex;
  }
  .container.main-container-search-header input::-moz-placeholder {
    font-family: "Kumbh Sans", sans-serif;
    letter-spacing: 0;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    color: black;
  }
  .container.main-container-search-header input,
  .container.main-container-search-header input::placeholder {
    font-family: "Kumbh Sans", sans-serif;
    letter-spacing: 0;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    color: black;
  }
  .container.main-container-search-header predictive-search {
    position: absolute;
    background: white;
    right: -35px;
    z-index: 99;
    width: 100vw;
    top: 38px;
  }
}
@media (min-width: 1376px) {
  .main-mega-menu-header .mega-menu__promo .v-stack:nth-child(5) .text-center a {
    position: absolute;
    left: 30px;
    bottom: 40px;
    max-width: 199px;
  }
  .main-mega-menu-header .mega-menu__promo .v-stack:nth-child(5) .text-center a {
    text-align: left;
    font-weight: 300;
    font-size: 47px;
    font-family: "Kumbh Sans", sans-serif;
    text-transform: none;
    color: white;
    line-height: 37px;
    text-decoration: none;
    border: none;
  }
  .main-mega-menu-header .mega-menu__promo .v-stack {
    flex: 174px;
    max-width: 174px;
    min-width: 174px;
    gap: 10px;
  }
  .main-mega-menu-header .mega-menu__promo .v-stack:nth-child(5) {
    flex: 504px;
    min-width: 504px;
  }
}
@media screen and (max-width: 999px) {
  button[aria-expanded=false] .header__nav-open {
    display: block;
  }
  button[aria-controls=sidebar-menu] {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1000px) {
  button[aria-expanded=true] .header__nav-open {
    display: none;
  }
  button[aria-expanded=true] .header__nav-close {
    display: block;
  }
  button[aria-expanded=false] .header__nav-close {
    display: none;
  }
  .drawer::part(base) {
    margin-top: var(--drawer-margin-top, 0);
    border-top: 1px solid rgba(55, 57, 54, 0.2);
  }
  :where(.modal, .drawer, .popover, .header-search)::part(overlay) {
    top: var(--drawer-top, 0);
  }
  height-observer {
    position: relative;
    top: var(--header-top, 0);
  }
}
.products-swiper.main-products-swiper-collections {
  width: 100%;
  padding: 20px 20px 31px 20px;
}

.products-swiper .swiper-slide {
  width: 92px;
  flex-shrink: 0;
}

.main-title_product {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0;
  text-align: center;
  padding-top: 4px;
}

.main-image-products {
  border-radius: 6px;
}

.swiper-button-next.swiper-button-next-slider {
  background: white;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  right: 40px;
  transform: rotate(180deg);
  top: 63px;
}

.swiper-button-prev.swiper-button-prev-slider {
  background: white;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 64px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}

.swiper-button-prev.swiper-button-prev-slider img {
  transform: rotate(0);
}

.swiper-button-next.swiper-button-next-slider {
  display: block;
}

.header-mobile-main {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  font-family: "Kumbh Sans", sans-serif;
  color: rgba(55, 57, 54, 0.8980392157);
  text-transform: none;
}