.header-sidebar {
  --drawer-max-width: 390px;
  --header-linklist-padding-block: 24px;
}
@media screen and (min-width: 576px) {
  .header-sidebar {
    --drawer-max-width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .header-sidebar {
    display: none !important;
  }
}
.header-sidebar::part(base) {
  height: auto;
  top: calc(var(--header-height) + var(--announcement-bar-height));
}
.header-sidebar::part(overlay) {
  display: none;
}
.header-sidebar::part(header) {
  display: none;
}

.header-sidebar__scroller {
  padding-block-end: 14px;
}

.header-sidebar__collections-slider {
  padding-block-start: 20px;
}
.header-sidebar__collections-slider.floating-controls-container--inside {
  --floating-controls-inset-inline: 0;
}
.header-sidebar__collections-slider.floating-controls-container--on-hover > .floating-controls-container__control {
  transform: translateY(-50%);
}
.header-sidebar__collections-slider .collection-list {
  --collection-list-item-size: 93px;
  --collection-list-gap: 10px;
}
.header-sidebar__collections-slider .collection-card {
  gap: 5px;
}
.header-sidebar__collections-slider .content-over-media {
  aspect-ratio: 1;
  border-radius: 6px;
}
.header-sidebar__collections-slider .collection-card__content {
  --text-h3: 12px;
  --heading-font-weight: 500;
  text-align: center;
}
.header-sidebar__collections-slider .circle-button {
  --circle-button-size: 30px;
}
.header-sidebar__collections-slider .circle-button > svg {
  width: 9px;
}
.header-sidebar__collections-slider .floating-controls-container__control {
  inset-block-start: 50% !important;
}

.header-sidebar__linklist {
  border-block-end-width: 1px;
  padding-block-start: 20px;
  padding-block-end: 10px;
}

.header-sidebar__linklist-button {
  --text-h6: 16px;
  --heading-font-weight: 500;
  --heading-text-transform: uppercase;
  color: #232222;
}

.header-sidebar__linklist--additional {
  --header-linklist-padding-block: 18px;
  padding-block-start: 22px;
  padding-block-end: 23px;
}
.header-sidebar__linklist--additional .header-sidebar__linklist-button {
  --text-h6: 16px;
  --heading-font-weight: 500;
  --heading-text-transform: capitalize;
  color: rgb(var(--text-color)/0.9);
}

.header-sidebar__footer {
  --drawer-footer-padding-inline: 20px;
  display: grid;
  gap: 4px;
}
.header-sidebar__footer > * {
  color: rgb(var(--text-color)/0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding-block: 5px;
  text-transform: capitalize;
}
.header-sidebar__footer .icon__wrapper {
  aspect-ratio: 1;
  display: grid;
  align-items: center;
  width: 24px;
}
.header-sidebar__footer .text-with-icon {
  gap: 5px;
}
.header-sidebar__footer .text-with-icon .icon {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.header-sidebar__collapsible-panel .header-sidebar__scroller {
  padding-block-start: 39px;
}
.header-sidebar__collapsible-panel .header-sidebar__sub-panel-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 1em;
  padding-inline-start: 5px;
}
.header-sidebar__collapsible-panel .header-sidebar__sub-panel-header .button {
  font-size: 12px;
  min-height: 35px;
  padding-block: 5px;
  padding-inline: 10px;
  white-space: nowrap;
}
.header-sidebar__collapsible-panel .header-sidebar__back-button {
  --text-h6: 16px;
  --heading-font-weight: 500;
  --heading-text-transform: uppercase;
  border-block-end-width: 0;
  color: rgb(var(--text-color)/1);
  gap: 14px;
  margin-block-end: 0;
  padding-block: 10px;
  width: auto;
}
.header-sidebar__collapsible-panel .header-sidebar__linklist {
  --header-linklist-padding-block: 20px;
  padding-block-start: 2px;
  padding-block-end: 11px;
}
.header-sidebar__collapsible-panel .header-sidebar__linklist-button {
  --heading-text-transform: capitalize;
  color: rgb(var(--text-color)/0.9);
}

.header-sidebar__promo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.header-sidebar__promo .mega-menu__promo-item {
  aspect-ratio: 1;
}
.header-sidebar__promo .mega-menu__promo-item-media-wrapper {
  border-radius: 10px;
}
.header-sidebar__promo .mega-menu__promo-item-media-wrapper img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.mega-menu {
  border-block-end-width: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block: 40px;
}
.mega-menu .menu-item__featured-image {
  aspect-ratio: 1;
  border-radius: 10px;
  overflow: hidden;
}
.mega-menu .menu-item__featured-image img,
.mega-menu .menu-item__featured-image svg {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.mega-menu__wrapper {
  display: grid;
  grid-template-columns: 1fr 504px;
  grid-template-rows: 1fr;
  max-width: var(--container-max-width);
  padding-inline-start: var(--container-gutter);
  padding-inline-end: var(--container-gutter);
  gap: 20px;
}

.mega-menu__linklist {
  --mega-menu-linklist-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.mega-menu__linklist > li > .h6 {
  font-size: 16px;
  font-weight: 600;
}
.mega-menu__linklist .link,
.mega-menu__linklist .link-faded {
  color: rgb(var(--text-color)/0.7);
}
.mega-menu__linklist ul {
  padding: 11px 0 0;
}

.mega-menu__promo .mega-menu__promo-item:only-child {
  max-width: none;
}
.mega-menu__promo .mega-menu__promo-item-media-wrapper {
  aspect-ratio: 1.0655391121;
  border-radius: 10px;
}

.header {
  --header-padding-block: 14px;
}
@media screen and (min-width: 1000px) {
  .header {
    --header-grid: ". logo ." "primary-nav primary-nav secondary-nav" / 300px 1fr 300px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    --header-grid: ". logo ." ". primary-nav secondary-nav" / 200px 1fr 200px;
  }
}
.header .header__button-icon {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  width: 24px;
}
.header .header__button-icon cart-count {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  height: 100%;
  font-size: 12px;
  line-height: 1;
  left: 0;
  padding: 4px;
  position: absolute;
  top: 0;
  width: 100%;
}
.header .header__nav-icon {
  width: auto;
}
@media screen and (min-width: 1000px) {
  .header button[aria-controls=sidebar-menu] {
    display: none;
  }
}
.header button[aria-controls=sidebar-menu] .icon--close {
  display: none;
}
.header button[aria-controls=sidebar-menu][aria-expanded=true] .icon--menu {
  display: none;
}
.header button[aria-controls=sidebar-menu][aria-expanded=true] .icon--close {
  display: inline;
}
.header .localization-toggle img {
  height: auto;
  width: 24px;
}
.header .localization-toggle span,
.header .localization-toggle .icon {
  display: none;
}

@media screen and (min-width: 1000px) {
  .header__logo {
    justify-self: center;
  }
}

.header__primary-nav {
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .header__primary-nav {
    justify-content: center;
  }
}
.header__primary-nav .contents {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 21px;
  font-size: 14px;
}
@media screen and (min-width: 1000px) {
  .header__primary-nav .contents {
    display: flex;
  }
}
.header__primary-nav .header__primary-nav-item summary.h6,
.header__primary-nav .header__primary-nav-item > .h6 {
  font: inherit;
}
.header__primary-nav .header__menu-disclosure[open] summary .icon {
  transform: rotate(180deg);
}
.header__primary-nav .header__menu-disclosure summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 12px;
}

.header__icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 1000px) {
  .header__secondary-nav {
    justify-self: initial;
  }
}