.shopify-section--social-proof .section-header {
  --text-h2: 34px;
  margin: 0 auto 12px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--social-proof .section-header {
    margin-bottom: 7px;
  }
}
@media screen and (min-width: 1000px) {
  .shopify-section--social-proof .section-header .h2 {
    font-size: 40px;
  }
}
.shopify-section--social-proof .section-header .h2 > em,
.shopify-section--social-proof .section-header .h2 > strong {
  font-size: 40px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--social-proof .section-header .h2 > em,
  .shopify-section--social-proof .section-header .h2 > strong {
    font-size: 1.2em;
  }
}
.shopify-section--social-proof .social-proof__customer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0 0 18px;
}
.shopify-section--social-proof .social-proof__customer-wrapper > div {
  aspect-ratio: 1/1;
  border: 2px solid rgba(127, 115, 113, 0.6);
  border-radius: 100%;
  margin-right: -14px;
  overflow: hidden;
  width: 36px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--social-proof .social-proof__customer-wrapper > div {
    width: 48px;
  }
}
.shopify-section--social-proof .social-proof__content-wrapper {
  max-width: 444px;
  margin: 0 auto;
  padding: 0 20px 0 44px;
  position: relative;
}
@media screen and (min-width: 1000px) {
  .shopify-section--social-proof .social-proof__content-wrapper {
    padding-right: 0;
  }
}
.shopify-section--social-proof .social-proof__content-wrapper > .icon {
  fill: rgb(var(--button-background));
  left: 8px;
  position: absolute;
  top: 0;
}
@media screen and (min-width: 1000px) {
  .shopify-section--social-proof .social-proof__content-wrapper > .icon {
    width: 30px;
  }
}
.shopify-section--social-proof .social-proof__content-wrapper .prose {
  line-height: 1.2143;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .shopify-section--social-proof .social-proof__content-wrapper .prose {
    font-size: 16px;
    line-height: 1.25;
  }
}
.shopify-section--social-proof .social-proof__buttons-wrapper {
  margin: 30px 0 0;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .shopify-section--social-proof .social-proof__buttons-wrapper {
    margin-top: 40px;
  }
}