.playBtn{
  cursor: pointer;
}
.main-title{
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 300;
  font-size: 34px;
  letter-spacing: 0;
  text-align: center;
}
.main-title em{
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -1px;
}
.video-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.desktop-swiper-card-main{
  display: none;
}
.mobile-swiper-card-main{
  margin-left: 20px;
}
@media (max-width: 768px){
  .mobile-swiper-card-main{
    margin-bottom: 20px;
  }
}
.mobile-swiper-card-main .video-item video{
  height: 280px;
  width: 203px;
  object-fit: cover;
  border-radius: 10px;
}
.mobile-swiper-card-main .swiper-slide{
  max-width: 203px;
}
.mobile-swiper-card-main .swiper-pagination-bullet{
  background: #373A3699 !important;
}
.mobile-swiper-card-main .swiper-pagination-bullet-active{
  width: 62px;
  height: 2px;
  border-radius: 6px;
}
.mobile-swiper-card-main .swiper-pagination{
  position: relative;
  top: 5px;
}
.mobile-swiper-card-main  .swiper-pagination-bullet{
  width: 62px;
  height: 2px;
  border-radius: 6px;
  background: #373A3633
}
.video-item .start_video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 54px;
  height: 54px;
  background: #373A3699;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-link-video{
  position: absolute;
  top: 10px;
  right: 10px;
  background: #373A3699;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px){
  .main-link-video{
    top: 20px;
    right: 19px;
  }
  .main-title{
    font-size: 40px;
  }
  .main-title em{
    font-size: 47px;
  }
  .desktop-swiper-card-main{
    display: grid;
  }
  .mobile-swiper-card-main{
    display: none;
  }
  .video-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    padding: 0 89px;
  } 
}
@media (min-width: 1024px){
  .video-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    padding: 0 89px;
    padding-bottom: 14px
  } 
}
@media (min-width: 1440px){
  .video-wrapper {
    max-width: 1280px;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
    gap: 10px;
    padding-bottom: 14px
  } 
  .video-item video {
    width: 312px;
    height: 620px;
    border-radius: 8px;
    object-fit: cover;
  }
  .video-item.video-item-tiktok video{
    height: 490px;
  }
}
.video-item.video-item-tiktok video{
  object-fit: cover;
  height: 320px;
  width: 100%;
}
.video-item video { 
  border-radius: 8px;
  object-fit: cover;
}
.video-item{
  position: relative;
}
.video-item .start_video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 54px;
  height: 54px;
  background: #373A3699;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-title-tiktok{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-size: 34px;
    letter-spacing: 0;
    text-align: center;
}
.main-title-tiktok em{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: -1px;
}
@media (min-width: 768px) {
    .main-title-tiktok{
        font-size: 40px;
    }
    .main-title-tiktok em{
        font-size: 47px;
    }
}


.swiper.main-swiper-tiktok{
    min-height: 500px;
    height: auto;
    max-width: 1300px;
    align-items: center;
    display: flex;
    padding-right: 40px;
}
.swiper-slide.swiper-slide-titktok{
    width: 250px;
    height: fit-content;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform: scale(0.9);
}
.swiper-wrapper.swiper-wrapper-titktok.centered-swiper {
    justify-content: center;
}

.swiper-wrapper.swiper-wrapper-titktok{
    align-items: center;
}
.swiper-slide.swiper-slide-titktok.swiper-slide-active{
    transform: scale(1.1);
    z-index: 2;
    margin: 0 20px !important;
}
.continer-bottom-tiktok img{
    height: 64px;
    width: auto;
}
.continer-bottom-tiktok{
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 8px;
    display: flex;
    gap: 10px;
    padding: 12px;
}
.main-slide-tiktok{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    max-height: 42px;
    overflow: hidden;
    height: auto;
    margin-bottom: 8px;
}
.price-slide-tiktok-product{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 13px;
    max-height: 47px;
}
.old-price.price-slide-tiktok-product{
    color: #B3B6BC;
    text-decoration: line-through;
}
.main-url-tiktok-product{
    display: contents;
}
.playBtn {
    cursor: pointer;
}
.container-main-swiper-tiktok{
    position: relative;
    max-width: 1389px;
    margin: 0 auto;
}
.swiper-button-prev-tiktok img{
    transform: rotate(180deg);
    position: relative;
}
.swiper-button-prev-tiktok{
    position: absolute;
    left: 0;
    border: 1px solid #37393633;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
}
.swiper-button-next-tiktok{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #37393633;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 999;
    right: 0px;
}
.container-main-swiper-tiktok.swiper-disabled .swiper-button-next-tiktok,
.container-main-swiper-tiktok.swiper-disabled .swiper-button-prev-tiktok {
  display: none;
}

@media(max-width: 1439px){
    .container-main-swiper-tiktok{
        max-width: 860px;
    }
    .swiper.main-swiper-tiktok{
        max-width: 750px;
    }
}
@media(max-width: 1023px){
    .container-main-swiper-tiktok{
        max-width: 755px;
    }
    .swiper.main-swiper-tiktok{
        max-width: 700px;
    }
}
@media(max-width: 767px){
    .container-main-swiper-tiktok,
    .swiper.main-swiper-tiktok{
        max-width: 100%;
    }
    .swiper-button-next-tiktok,
    .swiper-button-prev-tiktok{
        display: none;
    }
}