.shopify-section--tiktok .section-spacing {
  --section-vertical-spacing: 12px;
}
.shopify-section--tiktok .section-stack {
  --section-stack-gap: 13px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--tiktok .section-stack {
    --section-stack-gap: 35px;
  }
}
.shopify-section--tiktok .section-slider {
  width: 100%;
}
@media screen and (max-width: 999px) {
  .shopify-section--tiktok .swiper {
    overflow: visible;
  }
}
.shopify-section--tiktok .swiper-slide {
  width: 70%;
}
.shopify-section--tiktok .swiper-slide-active .product-video-review {
  transform: scale(1);
}
.shopify-section--tiktok .product-video-review {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 8px;
  transform: scale(0.9);
  transition: transform 0.6s ease;
}
.shopify-section--tiktok .product-video-review.active .icon--play {
  display: none;
}
.shopify-section--tiktok .product-video-review.active .icon--pause {
  display: inline;
}
.shopify-section--tiktok .product-video-review__media {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.shopify-section--tiktok .product-video-review__media video.playing ~ .product-video-review__play {
  display: none;
}
.shopify-section--tiktok .product-video-review__play {
  aspect-ratio: 1;
  background: rgb(var(--text-color)/0.6);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 54px;
  z-index: 5;
}
.shopify-section--tiktok .product-video-review__play:hover {
  background: rgb(var(--text-color)/1);
}
.shopify-section--tiktok .product-video-review__play .icon {
  fill: currentColor;
}
.shopify-section--tiktok .product-video-review__play .icon--pause {
  display: none;
}
.shopify-section--tiktok .product-video-review__product-view {
  background: rgb(var(--text-color)/0.6);
  border-radius: 17px;
  color: rgb(var(--button-text-color));
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height: 34px;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  width: 34px;
  z-index: 5;
}
.shopify-section--tiktok .product-video-review__product-view:hover {
  width: 130px;
  padding-left: 14px;
}
.shopify-section--tiktok .product-video-review__product-view:hover .tooltip {
  opacity: 1;
  max-width: 90px;
}
.shopify-section--tiktok .product-video-review__product-view .icon {
  stroke: currentColor;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.shopify-section--tiktok .product-video-review__product-view .tooltip {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
}
.shopify-section--tiktok .product-video-review__content {
  background: #f7f7f7;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 70px 1fr min-content;
  align-items: center;
  gap: 10px;
  padding: 12px;
  position: relative;
  transition: background 0.35s ease-in-out;
}
.shopify-section--tiktok .product-video-review__content:hover {
  background: #eee;
}
.shopify-section--tiktok .product-video-review__content:hover .icon {
  opacity: 1;
  transform: translate(0);
}
.shopify-section--tiktok .product-video-review__content .h2 {
  --line-clamp-coun: 2;
  font-size: 13px;
  font-weight: 700;
  margin: 0 0 8px;
}
.shopify-section--tiktok .product-video-review__content .h2 a:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.shopify-section--tiktok .product-video-review__content .icon {
  fill: none;
  opacity: 0;
  position: relative;
  stroke: currentColor;
  transform: translate(-8px);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 10px;
}
.shopify-section--tiktok .product-video-review__content .price-list {
  font-size: 13px;
}
.shopify-section--tiktok .product-video-review__content .price-list sale-price {
  color: rgb(var(--text-color)/1);
  font-size: inherit;
  font-weight: 500;
}
.shopify-section--tiktok {
  /*.floating-controls-container__control {
    --floating-controls-inset-inline: -1.15rem;
    transform: none;

    @include sm {
      --floating-controls-inset-inline: -2.125rem;
    }
  }

  .circle-button {
    --circle-button-size: 26px;
    color: rgba(55, 57, 54, 0.6);
    border: 1px solid rgba(55, 57, 54, 0.2);
    box-shadow: none;
    color: rgba(55, 57, 54, 0.6);

    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
      visibility: visible;
    }

    > svg {
      fill: none;
      stroke: currentColor;
      width: auto;
    }
  }*/
}