.shopify-section--tiktok .section-spacing {
  --section-vertical-spacing: 12px;
}
.shopify-section--tiktok .section-stack {
  --section-stack-gap: 13px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--tiktok .section-stack {
    --section-stack-gap: 35px;
  }
}
.shopify-section--tiktok .product-video-review {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 8px;
  flex-basis: var(--collection-list-item-size, calc(100% / var(--collection-list-items-per-row) - var(--collection-list-gap, 0px) * (var(--collection-list-items-per-row) - 1) / var(--collection-list-items-per-row)));
}
.shopify-section--tiktok .product-video-review__media {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.shopify-section--tiktok .product-video-review__media video.playing ~ .product-video-review__play {
  display: none;
}
.shopify-section--tiktok .product-video-review__play,
.shopify-section--tiktok .product-video-review__buy {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.shopify-section--tiktok .product-video-review__play:hover,
.shopify-section--tiktok .product-video-review__buy:hover {
  background: rgb(var(--text-color)/1);
}
.shopify-section--tiktok .product-video-review__play {
  aspect-ratio: 1;
  background: rgb(var(--text-color)/0.6);
  border-radius: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 54px;
  z-index: 5;
}
.shopify-section--tiktok .product-video-review__play svg {
  fill: currentColor;
}
.shopify-section--tiktok .product-video-review__buy {
  aspect-ratio: 1;
  background: rgb(var(--text-color)/0.6);
  border-radius: 100%;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 34px;
  z-index: 5;
}
.shopify-section--tiktok .product-video-review__buy svg {
  stroke: currentColor;
}
.shopify-section--tiktok .product-video-review__content {
  border: 1px solid rgb(var(--text-color));
  border-radius: 10px;
  display: grid;
  grid-template-columns: 70px 1fr min-content;
  align-items: center;
  gap: 10px;
  padding: 12px;
  position: relative;
}
.shopify-section--tiktok .product-video-review__content:hover {
  background: #e9e9e9;
}
.shopify-section--tiktok .product-video-review__content:hover .icon {
  opacity: 1;
}
.shopify-section--tiktok .product-video-review__content .h2 {
  --line-clamp-coun: 2;
  font-size: 13px;
  font-weight: 700;
  margin: 0 0 8px;
}
.shopify-section--tiktok .product-video-review__content .h2 a:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.shopify-section--tiktok .product-video-review__content .icon {
  fill: none;
  opacity: 0;
  stroke: currentColor;
  width: 10px;
}
.shopify-section--tiktok .product-video-review__content .price-list {
  font-size: 13px;
}
.shopify-section--tiktok .product-video-review__content .price-list sale-price {
  font-size: inherit;
}
.shopify-section--tiktok .floating-controls-container__control {
  --floating-controls-inset-inline: -1.15rem;
  transform: none;
}
@media screen and (min-width: 700px) {
  .shopify-section--tiktok .floating-controls-container__control {
    --floating-controls-inset-inline: -2.125rem;
  }
}
.shopify-section--tiktok .circle-button {
  --circle-button-size: 26px;
  color: rgba(55, 57, 54, 0.6);
  border: 1px solid rgba(55, 57, 54, 0.2);
  box-shadow: none;
  color: rgba(55, 57, 54, 0.6);
}
.shopify-section--tiktok .circle-button[disabled] {
  opacity: 0.5;
  pointer-events: none;
  visibility: visible;
}
.shopify-section--tiktok .circle-button > svg {
  fill: none;
  stroke: currentColor;
  width: auto;
}