@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.slideshow .page-dots {
  --slideshow-controls-spacing: var(--container-gutter);
  --dot-size: 3px;
  inset-inline-start: var(--slideshow-controls-spacing);
  gap: 8px;
  flex-wrap: nowrap;
}
.slideshow .page-dots > * {
  border-radius: 4px;
  width: auto;
}
.slideshow .page-dots .tap-area {
  background: rgb(var(--background)/0.5);
  max-width: 62px;
  flex-grow: 1;
}
.slideshow .page-dots .tap-area[aria-current=true] {
  background: rgb(var(--background)/1);
}
.slideshow .page-dots .tap-area svg, .slideshow .page-dots .tap-area:after, .slideshow .page-dots .tap-area:before {
  display: none;
}

body {
  line-height: 1.4286;
}

.button {
  font-size: var(--text-base);
  font-weight: 600;
  line-height: 1;
  padding-block: 0.25rem;
  min-height: 2.3125rem;
}

.container {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: var(--container-max-width);
  padding-inline-start: var(--container-gutter);
  padding-inline-end: var(--container-gutter);
}

.heading, .h1, .h2, .h3, .h4, .h5, .h6, .prose :where(h1, h2, h3, h4, h5, h6) {
  line-height: 1;
}
.heading > em,
.heading > strong, .h1 > em,
.h1 > strong, .h2 > em,
.h2 > strong, .h3 > em,
.h3 > strong, .h4 > em,
.h4 > strong, .h5 > em,
.h5 > strong, .h6 > em,
.h6 > strong, .prose :where(h1, h2, h3, h4, h5, h6) > em,
.prose :where(h1, h2, h3, h4, h5, h6) > strong {
  font-family: "Playfair Display", serif;
}