@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.button {
  font-size: var(--text-base);
  font-weight: 600;
  line-height: 1;
  padding-block: 0.25rem;
  min-height: 2.3125rem;
}
.button svg {
  fill: currentColor;
}

.button[disabled] {
  --button-background: 211 211 211;
}

.input, .textarea, .select {
  --border-color: 55 58 54 / 0.2;
  --input-padding-block: 12px;
  --input-padding-inline: 9px;
}

:is(.input, .textarea, .select)::-moz-placeholder {
  color: rgb(var(--input-text-color, var(--text-color))/0.4);
}

:is(.input, .textarea, .select)::placeholder {
  color: rgb(var(--input-text-color, var(--text-color))/0.4);
}

.section-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
  max-width: none;
}
.section-header.justify-self-stretch {
  align-self: stretch;
}
.section-header .prose:only-child {
  flex-grow: 1;
}
@media screen and (min-width: 1000px) {
  .section-header .prose:only-child h2 {
    text-align: center;
  }
}
.section-header h2 {
  font-size: 34px;
  text-align: center;
  text-transform: capitalize;
}
@media screen and (min-width: 1000px) {
  .section-header h2 {
    font-size: 40px;
    text-align: left;
  }
}
.section-header h2 > em,
.section-header h2 > strong {
  font-size: 40px;
}
@media screen and (min-width: 1000px) {
  .section-header h2 > em,
  .section-header h2 > strong {
    font-size: 46px;
  }
}
.section-header .section-heading__view-all {
  display: none;
}
@media screen and (min-width: 1000px) {
  .section-header .section-heading__view-all {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .section-header ~ .section-heading__view-all {
    display: none;
  }
}

.slideshow .page-dots {
  --slideshow-controls-spacing: var(--container-gutter);
  --dot-size: 3px;
  inset-inline-start: var(--slideshow-controls-spacing);
  gap: 8px;
  flex-wrap: nowrap;
}
.slideshow .page-dots > * {
  border-radius: 4px;
  width: auto;
}
.slideshow .page-dots .tap-area {
  background: rgb(var(--background)/0.5);
  max-width: 62px;
  flex-grow: 1;
}
.slideshow .page-dots .tap-area[aria-current=true] {
  background: rgb(var(--background)/1);
}
.slideshow .page-dots .tap-area svg, .slideshow .page-dots .tap-area:after, .slideshow .page-dots .tap-area:before {
  display: none;
}

#looxReviews {
  max-width: none !important;
}

.cart-drawer::part(header) {
  --text-h4: 16px;
  text-transform: uppercase;
}

.cart-drawer__items {
  --text-h6: 16px;
  --heading-font-weight: 500;
}
.cart-drawer__items .text-subdued {
  color: rgb(var(--text-color)/0.6);
  text-transform: capitalize;
}
.cart-drawer__items .line-item {
  --line-item-media-width: 130px;
}
.cart-drawer__items .line-item-info__heading-wrapper {
  grid-template-columns: 1fr max-content;
  align-items: end;
}
.cart-drawer__items .price-list sale-price {
  color: rgb(var(--text-color));
}
.cart-drawer__items line-item-quantity .quantity-selector {
  border-radius: var(--input-border-radius);
}
.cart-drawer__items line-item-quantity .link {
  color: rgb(var(--text-color)/0.6);
}

.cart-drawer__complementary-products {
  gap: 20px;
  padding-block-start: 16px;
  padding-block-end: 25px;
}

.complementary-products__header {
  --text-h6: 16px;
  --heading-font-weight: 500;
  --heading-text-transform: capitalize;
}

.cart-drawer__footer button[name=checkout] {
  min-height: 57px;
}

body {
  line-height: 1.4286;
  min-width: 320px;
}

.container {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: var(--container-max-width);
  padding-inline-start: var(--container-gutter);
  padding-inline-end: var(--container-gutter);
}

.heading,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.prose :where(h1, h2, h3, h4, h5, h6) {
  line-height: 1;
}
.heading > em,
.heading > strong,
.h1 > em,
.h1 > strong,
.h2 > em,
.h2 > strong,
.h3 > em,
.h3 > strong,
.h4 > em,
.h4 > strong,
.h5 > em,
.h5 > strong,
.h6 > em,
.h6 > strong,
.prose :where(h1, h2, h3, h4, h5, h6) > em,
.prose :where(h1, h2, h3, h4, h5, h6) > strong {
  font-family: "Playfair Display", serif;
}

.isolate {
  position: relative;
  z-index: 0;
}

.floating-controls-container--on-hover > .floating-controls-container__control {
  opacity: 1;
}