.section-x-featured-collections {
  --heading-text-transform: capitalize;
  --heading-letter-spacing: 0;
}
.section-x-featured-collections .color-scheme {
  --text-color: 55, 58, 54;
}
.section-x-featured-collections .section-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 1rem;
}
@media screen and (min-width: 990px) {
  .section-x-featured-collections .section-heading {
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }
}
.section-x-featured-collections .section-heading h2 {
  font: 300 34px/1 "Kumbh Sans", sans-serif;
  margin: 0;
  text-align: center;
}
@media screen and (min-width: 990px) {
  .section-x-featured-collections .section-heading h2 {
    font-size: 40px;
    text-align: left;
  }
}
.section-x-featured-collections .section-heading h2 > em,
.section-x-featured-collections .section-heading h2 > strong {
  font-family: "Playfair Display", serif;
  font-size: 40px;
}
@media screen and (min-width: 990px) {
  .section-x-featured-collections .section-heading h2 > em,
  .section-x-featured-collections .section-heading h2 > strong {
    font-size: 46px;
  }
}
.section-x-featured-collections .section-heading .section-heading__view-all {
  display: none;
}
@media screen and (min-width: 990px) {
  .section-x-featured-collections .section-heading .section-heading__view-all {
    display: block;
  }
}
@media screen and (min-width: 990px) {
  .section-x-featured-collections product-list + .section-heading__view-all {
    display: none;
  }
}
.section-x-featured-collections .button {
  --button-border-radius: 4px;
  min-height: 37px;
  padding-block: 0.25rem;
}