@use "mixins/media" as *;

.product-gallery {
  --product-gallery-gap: 10px;
  --product-gallery-thumbnail-size: 52px;
  --product-gallery-thumbnail-list-gap: 8px;

  @include md {
    --product-gap: 20px;
    --product-gallery-gap: 20px;
    --product-gallery-thumbnail-size: 88px;
    --product-gallery-thumbnail-list-gap: 20px;
  }
}

.product-gallery__carousel-with-arrows {
  position: relative;

  @include md-max {
    display: block;
  }

  carousel-prev-button,
  carousel-next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;

    button {
      aspect-ratio: 1;
      background: rgb(var(--background-without-opacity) / 0.6);
      border-radius: 100%;
      color: rgb(var(--text-color) / 0.4);
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 32px;

      &:hover {
        background: rgb(var(--background-without-opacity) / 1);
      }
    }
  }

  carousel-prev-button {
    left: 0;
  }

  carousel-next-button {
    right: 0;
  }

  .product-gallery__media {
    @include md-max {
      width: auto;
    }
  }
}

.product-gallery__carousel {
  border-radius: 10px;
}

.product-gallery__thumbnail-scroller {
  @include md {
    --product-gallery-thumbnail-list-max-height: calc(
      (var(--product-gallery-thumbnail-size) + var(--product-gallery-thumbnail-list-gap)) * 6 - var(--product-gallery-thumbnail-list-gap)
    );
  }
}

.product-gallery__thumbnail {
  border-radius: 8px;
  border-width: 2px;
  aspect-ratio: 1;
  overflow: hidden;
  padding: 0;
}
