@use "mixins/media" as *;

/*
*******************
*/
.modal::part(base) {
  // place-items: start;
}
/*
*******************
*/

.quick-buy-modal::part(content) {
  border-radius: 10px;
}

.modal::part(header) {
  --modal-header-padding-block: 17px;
  --modal-header-padding-inline: 10px;
  border-block-end: 0;

  @include md {
    --modal-header-padding-inline: 20px;
  }
}

.quick-buy-modal::part(header) {
  @include sm {
    display: grid;
  }
}

.modal::part(body) {
  --modal-body-padding-block: 0;
  --modal-body-padding-inline: 0;
}

.modal::part(close-button) {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  opacity: 1;
  width: 20px;
}

.quick-buy-modal {
  --modal-body-max-width: 390px;

  @include sm {
    --modal-body-max-width: 486px;
  }
}

.quick-buy-modal__title {
  --heading-font-weight: 600;
  --text-h5: 16px;
  --heading-text-transform: capitalize;
  text-align: left;

  @include md {
    --text-h5: 18px;
  }
}

.quick-buy-modal__content {
  padding: 0 10px 14px;

  @include sm {
    grid-template-columns: minmax(0, 1fr);
  }

  @include md {
    padding: 0 20px 14px;
  }

  .quick-buy-modal__gallery-wrapper {
    --modal-body-padding-inline: 0;
  }

  .product-info__mobile {
    display: none;
  }

  .product-gallery {
    .page-dots {
      display: none;
    }
  }

  .product-gallery__carousel-with-arrows {
    position: relative;
  }

  carousel-prev-button,
  carousel-next-button {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;

    button {
      aspect-ratio: 1;
      background: rgb(var(--circle-button-background));
      border-radius: 100%;
      color: rgb(var(--circle-button-text-color));
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 42px;

      &:hover {
        background: rgb(var(--circle-button-text-color));
        color: rgb(var(--circle-button-background));
      }
    }
  }

  carousel-next-button {
    left: auto;
    right: 0;
  }

  .product-gallery__carousel {
    --product-gallery-carousel-gap: 5px;
    --product-gallery-carousel-grid: auto / auto-flow 100%;

    // @include md {
    //   --product-gallery-carousel-grid: auto / auto-flow 69.5%;
    // }
  }

  .product-gallery__carousel-with-arrows .product-gallery__media {
    @include md-max {
      width: auto;
    }
  }
}

.quick-buy-modal__mobile-info {
  grid-template-columns: 1fr 140px;
  grid-template-rows: repeat(2, auto);
  // gap: 10px;
  grid-template-areas:
    "title rating"
    "quantity price";
  align-items: center;
  // column-gap: 10px;
  row-gap: 14px;
  margin-block-start: 15px;

  .product-title {
    --text-h6: 14px;
    --heading-font-weight: 600;
    grid-area: title;
    line-height: 1.2143;

    @include md {
      --text-h6: 16px;
      line-height: 1.25;
    }
  }

  .price-list {
    --heading-font-weight: 600;
    --text-h6: 14px;
    justify-content: end;
    grid-area: price;

    .h6 {
      font-size: var(--text-h6);
    }

    sale-price {
      color: rgb(var(--text-color) / 1);
    }

    compare-at-price {
      color: rgb(var(--text-color) / 0.2);
    }
  }

  .loox-rating {
    grid-area: rating;
    color: rgb(var(--text-color) / 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    line-height: 1;

    .loox-rating__counter {
      display: none;
    }

    .loox-rating-content {
      gap: 3px;
      order: -1;

      .loox-rating-label {
        display: none;
      }
    }

    svg.loox-icon {
      height: auto;
      width: 14px;
    }
  }

  .quantity-selector {
    --quantity-selector-height: 30px;
    --quantity-selector-input-width: 17px;
    border-radius: var(--input-border-radius);
    grid-area: quantity;
    max-width: 88px;
    padding-inline: 5px;
  }
}

.quick-buy-modal__info-wrapper {
  --modal-body-padding-inline: 0;
  border-block-start-width: 0;
  margin-block-start: 14px;

  .product-info__block-list {
    --product-info-gap: 0;
  }

  .product-info__block-item[data-block-type="variant-picker"] {
    --product-info-gap: 0;
  }

  [data-block-id*="frequently_bought_app_block"] {
    display: none;
  }

  .variant-picker__option {
    &[data-option-type="color"] {
      .variant-picker__option-info {
        display: none;
      }
    }
  }

  .variant-picker__option-values {
    gap: 5px;

    // @include md {
    //   gap: 0;
    // }

    .color-swatch {
      --swatch-offset: 5px;
      --swatch-size: 50px;
      --swatch-border-size: 1px;
      border: 0;
      border-radius: 100%;

      @include md {
        --swatch-size: 64px;
      }

      img {
        border-radius: 100%;
      }
    }

    .block-swatch {
      // --swatch-border-size: 1px;
      --input-border-radius: 100%;
      --swatch-padding: 4px;

      aspect-ratio: 1;
      border: 0;
      box-shadow: 0 0 0 var(--swatch-border-size) rgb(var(--text-color) / 0.1);
      color: rgb(var(--text-color) / 1);
      min-width: 0;
      user-select: none;
      width: 30px;
    }

    :checked + .color-swatch,
    .color-swatch.is-selected {
      box-shadow: 0 0 0 var(--swatch-border-size) rgb(var(--text-color) / 0.6);
    }

    :checked + .block-swatch,
    .block-swatch.is-selected {
      box-shadow: 0 0 0 var(--swatch-border-size) rgb(var(--text-color) / 1);
      background: rgb(var(--button-background));
      color: rgb(var(--button-text-color));
    }
  }

  .buy-buttons {
    .button {
      min-height: 3.5625rem;
    }
  }
}

.quick-buy-modal__footer-wrapper {
  color: rgb(var(--text-color) / 0.4);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  margin-block-start: 13px;

  .link {
    cursor: pointer;
    display: inline-block;
    text-transform: capitalize;
  }
}
