@use "mixins/media" as *;

.horizontal-product-card {
  .horizontal-product-card__figure {
    width: 130px;
  }

  .product-title {
    --text-h6: 16px;
    --heading-font-weight: 500;
    font-family: inherit;
  }

  .price-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;

    * {
      font: inherit;
    }

    sale-price {
      color: rgb(var(--text-color) / 1);
    }

    compare-at-price {
      color: rgb(var(--text-color) / 0.2);
    }
  }

  .product-card__button {
    color: rgb(var(--text-color) / 0.6);
    text-transform: capitalize;
  }
}
