@use "mixins/media" as *;

.horizontal-product-card {
  .product-title {
    font-family: inherit;
  }

  .price-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;

    * {
      font: inherit;
    }

    sale-price {
      color: rgb(var(--text-color) / 1);
    }

    compare-at-price {
      color: rgb(var(--text-color) / 0.2);
    }
  }
}
