@use "mixins/media" as *;

.shopify-section--slideshow {
  .content-over-media {
    --content-over-media-calculated-row-gap: 2.5rem;
    --content-over-media-calculated-column-gap: 1.25rem;
    border-radius: 10px;

    @include md {
      --content-over-media-calculated-row-gap: 3.75rem;
      --content-over-media-calculated-column-gap: 5rem;
      border-radius: 30px;
    }
  }

  .h6 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;

    @include md {
      font-size: 20px;
      font-weight: normal;
    }
  }

  .h1 {
    font-size: 36px;
    // line-height: 1;
    margin-block-start: 3px;

    @include md {
      font-size: 59px;
      line-height: 0.9661;
    }
  }

  .prose :is(.button, .button-group:has(.button)) {
    margin-block-start: 30px;

    @include md {
      margin-block-start: 18px;
    }
  }

  .button {
    font-size: 1rem;
    font-weight: 600;
    min-height: 2.5rem;
    width: 100%;

    @include sm {
      width: auto;
    }
  }
}
