@use "mixins/media" as *;

.shopify-section--video-with-text {
  .section-spacing {
    --section-vertical-spacing: var(--container-gutter);

    @include md {
      --section-vertical-spacing: 40px;
    }
  }

  .container {
    --container-max-width: 1224px;
  }

  .image-with-text {
    gap: 20px;
    align-items: initial;
  }

  .image-with-text--reverse > .image-with-text__media-wrapper {
    order: 9999;
  }

  .image-with-text__media-wrapper,
  .image-with-text__content {
    border-radius: 10px;
  }

  .image-with-text__media-wrapper {
    aspect-ratio: 1.347826086956522;
    overflow: hidden;

    .content-over-media {
      --content-over-media-height: 100%;
    }

    .play-button {
      --button-border-radius: 100%;
      --button-background: 255 2552 255 / 0.9;
      --button-text-color: 112 96 93;
      aspect-ratio: 1;
      display: flex;
      padding: 0;
      width: 54px;

      svg {
        @include sm {
          height: auto;
          width: auto;
        }
      }
    }
  }

  .image-with-text__content {
    margin: 0;
    max-width: none;
    padding: 0 var(--container-gutter);
    position: relative;
    z-index: 5;

    @include sm {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: stretch;
      padding-inline: calc(var(--container-gutter) / 2);
      text-align: center;
    }

    @include md {
      padding: 55px 57px;
    }
  }

  .h6 {
    --heading-text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857;
  }

  .h1 {
    --text-h1: 20px;
    --heading-font-weight: 300;
    --heading-text-transform: capitalize;
    font-size: var(--text-h2);

    > * {
      --heading-font-weight: 400;
      display: block;
      font-size: 2.3em;
      margin-block-start: 1px;
    }
  }

  .image-with-text__richtext {
    color: rgb(var(--text-color) / 0.6);
    margin-block-start: 15px;

    @include md {
      margin-block-start: -1px;
    }
  }

  .image-with-text__links {
    margin-block-start: 30px;

    @include md {
      margin-block-start: 40px;
    }

    .button {
      width: 100%;

      @include sm {
        width: auto;
      }
    }
  }

  .image-with-text--overlap {
    @include sm {
      align-items: center;
      grid-template-columns: 1fr 44.4%;
      gap: 0;
    }

    .image-with-text__media-wrapper {
      @include md {
        aspect-ratio: 1.252;
        margin-right: -6%;
      }
    }

    .image-with-text__content {
      @include sm {
        text-align: left;
      }
    }
  }
}
