@use "mixins/media" as *;

.shopify-section--scrolling-content {
  .scrolling-content__text-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 6px;
  }

  .scrolling-content__icon-wrapper {
    width: 24px;

    > * {
      height: auto;
      max-width: 100%;
    }
  }

  .scrolling-content__text {
    font-weight: 500;
    text-transform: uppercase;
  }
}
