@use "mixins/media" as *;

.shopify-section--social-proof {
  .section-header {
    --text-h2: 34px;
    margin: 0 auto 12px;

    @include md {
      margin-bottom: 7px;
    }

    .h2 {
      @include md {
        font-size: 40px;
      }

      > em,
      > strong {
        font-size: 40px;

        @include md {
          font-size: 1.2em;
        }
      }
    }
  }

  .social-proof__customer-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    margin: 0 0 18px;

    > div {
      aspect-ratio: 1/1;
      border: 2px solid rgba(127, 115, 113, 0.6);
      border-radius: 100%;
      margin-right: -14px;
      overflow: hidden;
      width: 36px;

      @include md {
        width: 48px;
      }
    }
  }

  .social-proof__content-wrapper {
    max-width: 444px;
    margin: 0 auto;
    padding: 0 20px 0 44px;
    position: relative;

    @include md {
      padding-right: 0;
    }

    > .icon {
      fill: rgb(var(--button-background));
      left: 8px;
      position: absolute;
      top: 0;

      @include md {
        width: 30px;
      }
    }

    .prose {
      line-height: 1.2143;
      text-align: center;

      @include md {
        font-size: 16px;
        line-height: 1.25;
      }
    }
  }

  .social-proof__buttons-wrapper {
    margin: 30px 0 0;
    text-align: center;

    @include md {
      margin-top: 40px;
    }
  }
}
