@use "mixins/media" as *;

// body {
//   max-width: 390px;

//   @include xs {
//     max-width: none;
//   }
// }

.section-x-featured-collections {
  --heading-text-transform: capitalize;
  --heading-letter-spacing: 0;

  .container {
    margin: 0 auto;
    max-width: 1360px;
    padding: 0 40px;
  }

  .color-scheme {
    --text-color: 55, 58, 54;
  }

  .section-heading {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // justify-content: space-between;
    // align-content: flex-start;
    // align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    gap: 1rem;

    @include md {
      // display: flex;
      flex-direction: row;
      // flex-wrap: nowrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
    }

    h2 {
      font:
        300 34px/1 "Kumbh Sans",
        sans-serif;
      margin: 0;
      text-align: center;

      @include md {
        font-size: 40px;
        text-align: left;
      }

      > em,
      > strong {
        font-family: "Playfair Display", serif;
        font-size: 40px;

        @include md {
          font-size: 46px;
        }
      }
    }

    .section-heading__view-all {
      display: none;

      @include md {
        display: block;
      }
    }
  }

  product-list {
    + .section-heading__view-all {
      @include md {
        display: none;
      }
    }

    .floating-controls-container__control {
      --floating-controls-inset-inline: -2.125rem;
      opacity: 1;
      transform: none;

      &:last-child {
      }
    }

    .circle-button {
      --circle-button-size: 26px;
      color: rgba(55, 57, 54, 0.6);
      border: 1px solid rgba(55, 57, 54, 0.2);
      box-shadow: none;
      color: rgba(55, 57, 54, 0.6);

      &[disabled] {
        opacity: 0.5;
        pointer-events: none;
        visibility: visible;
      }
      
      > svg {
        fill: none;
        stroke: currentColor;
        width: auto;
      }
    }
  }

  .button {
    --button-border-radius: 4px;
    --button-letter-spacing: 0;
    // --button-text-color: 35, 34, 34;
    --button-background: 35, 34, 34;
    --button-font: 600 0.875rem/1 "Kumbh Sans", sans-serif;
    min-height: 37px;
    padding-block: 0.25rem;
  }

  .button--outline {
    --button-background: 55, 58, 54;
    --border-color: 197, 193, 192;
    min-height: 39px;
  }
}
