@use "mixins/media" as *;

// body {
//   max-width: 390px;

//   @include xs {
//     max-width: none;
//   }
// }

.section-x-featured-collections {
  --heading-text-transform: capitalize;
  --heading-letter-spacing: 0;

  .color-scheme {
    --text-color: 55, 58, 54;
  }

  .section-heading {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // justify-content: space-between;
    // align-content: flex-start;
    // align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    gap: 1rem;

    @include md {
      // display: flex;
      flex-direction: row;
      // flex-wrap: nowrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
    }

    h2 {
      font:
        300 34px/1 "Kumbh Sans",
        sans-serif;
      margin: 0;
      text-align: center;

      @include md {
        font-size: 40px;
        text-align: left;
      }

      > em,
      > strong {
        font-family: "Playfair Display", serif;
        font-size: 40px;

        @include md {
          font-size: 46px;
        }
      }
    }

    .section-heading__view-all {
      display: none;

      @include md {
        display: block;
      }
    }
  }

  product-list {
    + .section-heading__view-all {
      @include md {
        display: none;
      }
    }
  }

  .button {
    --button-border-radius: 4px;
    min-height: 37px;
    padding-block: 0.25rem;
  }
}
