@use "mixins/media" as *;

.x-product-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  font:
    14px/1.5715 "Kumbh Sans",
    sans-serif;
  gap: 20px;
  height: 100%;

  .product-card__media {
    border-radius: 10px;
    overflow: hidden;
  }

  .product-card__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    gap: 4px;
    text-align: left;
  }

  .conatainer-first-star {
    min-height: 0;
  }

  .product-card__info :is(.price-list, .rating-badge) {
    justify-content: start;
  }

  .loox-rating {
    color: rgba(var(--text-color), 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    font-size: 12px;
    line-height: 1;

    svg.loox-icon {
      display: none;
      height: auto;
      width: 14px;

      &:first-child {
        display: inline;
      }
    }
  }

  .loox-rating-content {
    color: rgba(222, 174, 74, 1);
    margin: 0 -2px 0 0;
    order: -1;
  }

  .loox-rating__counter {
    color: rgba(var(--text-color), 0.4);
    margin: 0 0 0 2px;
  }

  .product-title {
    font-family: inherit;
    font-weight: 500;

    &.h6 {
      font-size: 16px;
    }
  }

  .price-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;

    * {
      font: inherit;
    }
  }

  .product-card__swatches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap: 3px;
    margin: 12px 0 17px;

    .color-swatch {
      --swatch-size: 26px;
      --swatch-offset: 0;
      // background: #e9e9e9;
      // border: 1px solid transparent;
      border-radius: 100%;
      overflow: hidden;
      // height: 26px;
      // width: 26px;
    }

    :checked + .color-swatch {
      border-color: rgba(var(--text-color), 0.4);
    }

    .color-swatch--show-more {
      border-color: rgba(var(--text-color), 0.4);

      &:hover {
        background: #e9e9e9;
      }

      &.active {
        display: none;

        ~ .color-swatch {
          display: block;
        }
      }

      svg {
        fill: rgba(var(--text-color), 0.6);
      }

      ~ .color-swatch {
        display: none;
      }
    }
  }

  .product-card__button-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    gap: 12px;
    margin-top: auto;
  }
}
